# Web Framework
fastapi
uvicorn[standard]
python-dotenv

# Database & ORM
sqlalchemy
psycopg2-binary
supabase
# sqlalchemy-pgvector
pgvector

# RAG & AI
openai
pypdf
sentence-transformers

# Scraper
selenium
webdriver-manager

# Auth
python-jose[cryptography]
passlib[bcrypt]

# Other
python-multipart
httpx
